{% block title %}

    <h1>Categories - edit ID:{{ category_id }}</h1>

{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
